.card-container {
  width: 80%;
  height: 70vh;
  background-color: #038c3e86;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #fff;
}

.serie-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.figure-container {
  width: 5rem;
  height: 5rem;
  background-color: #94ffc3;
  border: solid 2px #0cf25d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.pokemon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alternative-btn {
  width: 6rem;
  height: 6rem;
}
.alternative-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
